body {
    margin-top: 40px;
}


.column-left{
  float: left;
  width: 25%;
  text-align: right;
}
.column-right{
  float: right;
  width: 70%;
  text-align: left;
}
.row:after{
  content: ""; 
  display: table; 
  clear: both;
}
