<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/presentations">Presentations</a></li>
<li><a href="/teaching">Teaching</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:tsai.tsungheng@gmail.com">email</a></li>
   <li><a href="https://github.com/tsunghengtsai">github.com/tsunghengtsai</a></li>
   </ul>
  </footer>
  </body>

</html>
